body { 
  font: 100% "Verdana", sans-serif; 
  padding: 0px; 
  background: #eed;
  margin: 0px;
}

#all {
  margin: 0px;
  width: 100%; /* Replace the xxxx with the the width of your site (eg 800px)*/
  text-align:left;
}

#header {
  background: #fff;
  padding: 5px;
}

.logo {
  margin: 0px;
  padding: 10px;
  padding-left: 40px;
  float: left;
  clear: left;
}

#byline-top {
  font: 125% "Tahoma", monospace;
  float:left;
}

.login-area {
   float: right;
   padding: 5px;
}


#header, #footer, .across-all {
  float: top;
  clear: both;
  width: 100%;
  padding:5px;
}

#menubar {
  float: top;
  clear: both;
  width: 100%;
	color: #444;
  padding-top: 5px;
  padding-bottom: 5px;
  background: #fff;
  border-top-width: 4px;
  border-bottom-width: 4px;
  border-color: #ddd;
  border-top-style: solid;
  border-bottom-style: solid;
  font: 200% "Tahoma", monospace;  
  font-weight: bold;
}

.menu-bar-item {
  color: #444;
	padding: 5px;
	text-decoration: none;
}

.menu-selected {
	background: #ddd;
}

.across-all {
	background: #443;
}

#support-area {
  padding: 5px;
}

#support-area * {
  padding: 5px;
  float:left;
}


#core {
  float: left;
  padding: 10px;
}

.hidden {
  display: none;	
}

.logged-in {
  display: none;  
}

.visible {
  display: block;  
}


.storage-id {
  font: 100% "Tahoma", sans-serif;
  font-weight:bold;   
  color: #333;
}

#refresh-link {
  float: right;
}


textarea {
	width: 420px;
	height: 80px;
	border: 2px solid #cccccc;
	padding: 3px;
	font-family: Tahoma, sans-serif;
	  float: left;
  clear: both;
}

.footer {
  margin-bottom: 10px;
  float: left;
  clear: both;
  background-color: #bbb;
  text-align: center;
}

#license {
}

#error-panel {
	display: none;
}

.menubar {
  height: 2px;
  width: 100%;
  float: left;
  clear: both;
}

#info {
  float: left;
  width: 1200px;
}

.rounded-box {
  padding: 10px;
  margin-right: 20px;
  margin-bottom: 20px;
   border-style:solid;
  border-width:0px;
  border-color:#666;
}


.info-box {
  background-color: #f60;
  width: 580px;
  height: 400px;
  float: left;
}

.more-info-box {
  font: 75% "Tahoma", sans-serif;
  width: 380px;
  height: 300px;
  float: left;
}

.clearright {
  clear: right;
}

.clearleft {
  clear: left;
}

.clearboth {
	clear: both;
}

.doublewidth {
  width: 1200px;  
  height: 140px;
  background-color: #ddd;
}

.status {
  padding-left: 10px;
  padding-top: 10px;
  float: left;
  clear: left;
  width: 900px;
  margin-bottom: 20px;
  margin-right: 20px;
 }

.friends {
  padding-left: 10px;
  padding-top: 10px;
  float: left;
  clear: right;
  width: 600px;
  margin-bottom: 20px;
}
#profile {
  padding-left: 10px;
  padding-top: 10px;
  float: left;
  clear: right;
  width: 600px;
  margin-bottom: 20px;
}

.top-left-box {
  border-style:solid;
  border-width:3px;
  border-color:#666;
  border-bottom:0px;
  border-right:0px;
}

.bottom-right-box {
  border-style:solid;
  border-width:3px;
  border-color:#666;
  border-top:0px;
  border-left:0px;
}


.status-stream {
  float: left;
  width: 100%;
}
.conversation {

}


.status-details {
  float: right;
  background-color: #f60;
  padding: 5px;
  width: 100%;
}

.comments {
  background-color: #ddf;
  float: right;
  width: 90%;
  margin-bottom: 10px;
}

.comment-form {
  float: right;
  padding: 10px;
}

.status-update {
  width: 100%;
  float: left;
  padding: 10px;
  clear:both;
}

.comment {
  float: right;
  width: 100%;
}

.comment-update {
  float: left;
  clear: both;
  padding: 5px;
}

.status-update-username {
  float: left;
  padding: 5px;
}

.comment-update-username {
  float: left;
  padding: 5px;
}

.status-update-timestamp {
  font: 60% "Arial", sans-serif; 
  float: right;
  padding: 5px;
}

.comment-update-timestamp {
  font: 60% "Arial", sans-serif; 
  float: right;
  padding: 5px;
}

button {
  float:right;
}

p, h1, h2, h3, h4{
  margin: 0px;
  padding: 0px;
}

#dialog_link {padding: .4em 1em .4em 20px;text-decoration: none;position: relative;}

#dialog_link span.ui-icon {margin: 0 5px 0 0;position: absolute;left: .2em;top: 50%;margin-top: -8px;}

ul#icons {margin: 0; padding: 0;}

ul#icons li {margin: 2px; position: relative; padding: 4px 0; cursor: pointer; float: left;  list-style: none;}

ul#icons span.ui-icon {float: left; margin: 0 4px;}

