html, body {
    font:100%'OpenSans', Frutiger, sans-serif;
    background:#fcfcfc url(../img/dust.png);
}
body {
    padding-top:100px;
}
p, h3 {
	  padding: 10px;
}

.logged-in {
    display:none;
}

.hidden {
    display:none;
    visibility:visible !important;
}
.visible {
    display:block;
}
a {
    text-decoration:none;
    font-style:normal;
    font-weight: bolder;
    outline:0;
    color:#000000;
}
a:visited {color:#222222;}  /* visited link */
a:hover {color:#444444;}  /* mouse over link */
a:active {color:#666666;}  /* selected link */

.brand {
    margin:0 !important;
    padding:0 !important;
}
.brand a {
}
.brand img {
    width:370px;
    padding:0 10px 10px !important;
}
.navbar-inner {
    min-height:80px;
    background-color:#db5801;
    background-image:-moz-linear-gradient(top, #fd7a23, #db5801);
    background-image:-ms-linear-gradient(top, #fd7a23, #db5801);
    background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#fd7a23), to(#db5801));
    background-image:-webkit-linear-gradient(top, #fd7a23, #db5801);
    background-image:-o-linear-gradient(top, #fd7a23, #db5801);
    background-image:linear-gradient(top, #fd7a23, #db5801);
    background-repeat:repeat-x;
    color:#000;
}
.navbar .nav > li > a {
    padding-top:60px;
    padding-bottom: 5px;
    color:black;
    text-shadow:0 1px 0 #fd7a23;
}
.navbar .nav > li > a:hover {
    color:black;
    text-shadow:0 1px 0 #fd7a23;
    background-color:rgba(255, 255, 255, .1);
}
.menu-selected {
    background-color:rgba(255, 255, 255, .2);
    color:black !important;
}
.navbar .btn {
    margin:0;
}
.login-area {
    float:right;
    padding-top:27px;
}
.logged-in .storage-id {
}
#do-logout {

}

#status-update {
    height:50px;
    margin-bottom: 0px
}
#do-update-status {
    margin-top: 0px;
}
.status-stream {
}
.conversation {
    padding-top: 20px;
    margin-top: 20px;
}
#refresh-statuses {
	  padding: 10px;
}
.status-update-timestamp, .comment-update-timestamp {
    font-size: 12px;
    font-style:italic;
    color:#aaa;
}
.status-details {
}
.status-text {
    background-color: #dddddd;
    padding: 5px; 
    margin-bottom: 10px
}
.comment-text {
    background-color: #eeeeee;
    padding: 5px; 
    margin-bottom: 5px
}
.comment {
    font-size:14px;
}
.comment-form {
    position:relative;
}
.comment-form textarea {
    height:50px;
    margin-bottom: 0px;
}
.status-user-picture, .comment-user-picture {
	  margin: 0px 10px 10px 0px;
}

@media (max-width: 767px) {
	.status-user-picture, .comment-user-picture {
	    width: 40px;
	}
	#status-update {
	    width:100%;
	}
	.comment-form textarea {
	    width: 100%;
	}

}


.do-comment {
    margin-top: 0px;
}

.do-collapse-status, .do-expand-status {
    font-size:12px;
    color:#333;

}

#page-myfriends {
}

.friend-details { 
    background-color: #dddddd;
    padding: 5px;
    margin: 5px;
}

.friend-details  .status-user-picture {
      width: 40px;
}

.friends-friend .status-user-picture {
      width: 30px;
}

.storage-id {
    font-weight:bold;
    white-space:nowrap;
}
.friends-friend .storage-id {
    font-weight:normal;
}
.add-friends-friend:hover {
    background:#ccc;
    color:#fff;
}
#header {
    float:top;
    clear:both;
    width:auto;
}
#footer {
	  width:100%;
    background-color:#db5801;
    background-image:-moz-linear-gradient(top, #db5801, #fd7a23);
    background-image:-ms-linear-gradient(top, #db5801, #fd7a23);
    background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#db5801), to(#fd7a23));
    background-image:-webkit-linear-gradient(top, #db5801, #fd7a23);
    background-image:-o-linear-gradient(top, #db5801, #fd7a23);
    background-image:linear-gradient(top, #db5801, #fd7a23);
    background-repeat:repeat-x;
    color:#000;
    padding: 10px;
}
.push {
    height: 80px;
}
#paypal-image {
    width:74px;
}
#page-about form {
}

.get-more-updates {
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 10px 0 0 0;
}
.rounded-box, .menu-bar-item, .info-box, .more-info-box, .full-page-text {
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
    -khtml-border-radius:5px;
    -webkit-box-shadow:0 0 4px #888;
    -moz-box-shadow:0 0 4px #888;
    box-shadow:0 0 4px #888;
    / * IE 8 * /
    -ms-filter:"progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=180, Color='#808080')";
    / * IE 5.5 - 7 * /
    filter:progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=180, Color='#808080');
}
.rounded-box, .info-box, .more-info-box,.full-page-text {
}
.info-box {
    color:#000;
    background-color:#FD7A23;
}
.full-page-text {
    height:auto;
    float:left;
    background-color:#ddd;
}