#header {
  left: 0;
  right: 0;
  top: 0;
  margin: 0px;
  padding: 5px;
  background: #999; /* for non-css3 browsers */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#222222', endColorstr='#dddddd'); /* for IE */
  background: -webkit-gradient(linear, left top, left bottom, from(#222), to(#ddd)); /* for webkit browsers */
  background: -moz-linear-gradient(top,  #222,  #ddd); /* for firefox 3.6+ */ 
}


#logo-top {
  padding-left: 10px;  
  margin: 0px;  
}

.conversation {
  border-style:solid;
  border-top:2px double #ccc;
  border-bottom:0px;
  border-left:0px;
  border-right:0px;
  margin: 5px;
  margin-bottom: 15px;
}

.status-update {
  margin: 5px;
  margin-bottom: 15px;
}

.comments {
  background: #bbb;
  margin-left: 10px;
   
}

.status-update {
  
}

.status-update-username {
  font: 100% "Courier", sans-serif;
  font-weight:bold;  
}

.status-update-timestamp {
  font: 100% "Courier", sans-serif; 
}

.comment-update-username {
  font: 100% "Courier", sans-serif; 
  font-weight:bold;  
}

.comment-update-timestamp {
  font: 100% "Courier", sans-serif; 
}

#status {
  width: 400px;
}

/*demo page css*/
body{ 
  font: 100% "Trebuchet MS", sans-serif; 
  margin: 0px;
  padding: 0px;
}

p, h1, h2, h3, h4{
  margin: 10px;
  padding: 0px;
}

#dialog_link {padding: .4em 1em .4em 20px;text-decoration: none;position: relative;}

#dialog_link span.ui-icon {margin: 0 5px 0 0;position: absolute;left: .2em;top: 50%;margin-top: -8px;}

ul#icons {margin: 0; padding: 0;}

ul#icons li {margin: 2px; position: relative; padding: 4px 0; cursor: pointer; float: left;  list-style: none;}

ul#icons span.ui-icon {float: left; margin: 0 4px;}

