#header {
}

.login-area {
  float: right;
}

.logo {
  left: 0;
  right: 0;
  top: 0;
  margin: 0px;
  padding: 0px;
  float: left;
  text-align: right;
}

#byline-top {
  font: 125% "Tahoma", monospace;
}

.storage-id {
  font: 100% "Tahoma", sans-serif;
  font-weight:bold;   
  color: #333;
}

#logo-top {
  padding-left: 10px;  
  margin: 0px;  
}

body{ 
  font: 100% "Verdana", sans-serif; 
  padding: 0px; 
  /*
  text-align:center;
  */
}

.footer {
  float: left;
  clear: both;
  background-color: #bbb;
  width: 100%;
}

#license {
}

.menubar {
  height: 2px;
  width: 100%;
  border-style:solid;
  border-bottom:2px double #ccc;
  border-right:0px;
  border-left:0px;
  border-top:0px;
  float: left;
  clear: both;
}

#info {
  float: left;
  width: 600px;
}

.status {
  float: left;
  width: 420px;
  text-align:left;
  border-style:solid;
  border-left:2px double #ccc;
  border-right:2px double #ccc;
  border-bottom:0px;
  border-top:0px;
}

.friends {
  float: left;
  clear: left;
  width: 420px;
  text-align:left;
}

.status-update {
  float: left;
  clear: right;
  width: 100%;
}

.status-stream {
  float: left;
  clear: right;
  width: 100%;
}
.conversation {
  /*border-style:solid;
  border-top:2px double #ccc;
  border-bottom:0px;
  border-left:0px;
  border-right:0px;
  */
  margin: 5px;
  margin-bottom: 15px;
}


.status-details {
  float: left;

}

.comments {
  margin-left: 10px;
  background-color: #bbb;
  float: left;
}

.comment-form {
  float: left;
}



.status-update {
  width: 400px;
  margin: 5px;
  margin-bottom: 15px;
  float: left;
  clear:both;
}

.comment {
  float: left;
  width: 375px;
}

.comment-update {
  font: 100% "Courier", serif; 
  float: left;
  clear: both;
}

.status-update-username {
  float: left;
}

.comment-update-username {
  float: left;
}

.status-update-timestamp {
  font: 100% "Courier", sans-serif; 
  float: right;
}

.comment-update-timestamp {
  font: 100% "Courier", sans-serif; 
  float: right;
}



p, h1, h2, h3, h4{
  margin: 10px;
  padding: 0px;
}

#dialog_link {padding: .4em 1em .4em 20px;text-decoration: none;position: relative;}

#dialog_link span.ui-icon {margin: 0 5px 0 0;position: absolute;left: .2em;top: 50%;margin-top: -8px;}

ul#icons {margin: 0; padding: 0;}

ul#icons li {margin: 2px; position: relative; padding: 4px 0; cursor: pointer; float: left;  list-style: none;}

ul#icons span.ui-icon {float: left; margin: 0 4px;}

