#header {
}

.login-area {
  float: right;
}

.logo {
  left: 0;
  right: 0;
  top: 0;
  margin: 0px;
  padding: 0px;
  float: left;
  text-align: right;
}

#byline-top {
  font: 125% "Tahoma", monospace;
}

.storage-id {
  font: 100% "Tahoma", sans-serif;
  font-weight:bold;   
  color: #333;
}

#logo-top {
  padding-left: 100px;  
  margin: 0px;  
}

body{ 
  font: 100% "Verdana", sans-serif; 
  padding: 0px; 
  /*
  text-align:center;
  */
}

.footer {
  float: left;
  clear: both;
  padding: 3px;
  margin: 3px;
  background-color: #bbb;
  width: 870px;
}

#license {
}

.menubar {
  height: 2px;
  width: 100%;
  float: left;
  clear: both;
}

#info {
  float: left;
  width: 1200px;
}

.rounded-box {
  padding: 10px;
  margin: 10px;
  border-style:solid;
  border-width:5px;
  border-color:#666;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px; /* future proofing */
  -khtml-border-radius: 10px; /* for old Konqueror browsers */
  border-bottom:0px;

}

.info-box {
  background-color: #f60;
  width: 410px;
  height: 300px;
  float: left;
}

.more-info-box {
  font: 75% "Tahoma", sans-serif;
  width: 257px;
  height: 330px;
  float: left;
}

.clearright {
  clear: right;
}

.clearleft {
  clear: left;
}

.doublewidth {
  width: 870px;  
  height: 180px;
}

.status {
  float: left;
  padding: 10px;
  margin: 10px;
  width: 380px;
  text-align:left;
  border-style:solid;
  border-left:2px double #ccc;
  border-right:2px double #ccc;
  border-bottom:0px;
  border-top:0px;
}

.friends {
  float: left;
  clear: left;
  padding: 10px;
  margin: 10px;
  width: 380px;
  text-align:left;
}

#profile {
  float: left;
}

.status-stream {
  float: left;
  clear: right;
  width: 100%;
}
.conversation {

}


.status-details {
  float: left;

}

.comments {
  background-color: #bbb;
  float: left;
}

.comment-form {
  float: left;
}

.status-update {
  width: 100%;
  float: left;
  clear:both;
}

.comment {
  float: right;
  width: 100%;
}

.comment-update {
  float: left;
  clear: both;
  padding: 5px;
}

.status-update-username {
  float: left;
  padding: 5px;
}

.comment-update-username {
  float: left;
  padding: 5px;
}

.status-update-timestamp {
  font: 100% "Courier", sans-serif; 
  float: right;
  padding: 5px;
}

.comment-update-timestamp {
  font: 100% "Courier", sans-serif; 
  float: right;
  padding: 5px;
}

button {
  float:right;
}

p, h1, h2, h3, h4{
  margin: 10px;
  padding: 0px;
}

#dialog_link {padding: .4em 1em .4em 20px;text-decoration: none;position: relative;}

#dialog_link span.ui-icon {margin: 0 5px 0 0;position: absolute;left: .2em;top: 50%;margin-top: -8px;}

ul#icons {margin: 0; padding: 0;}

ul#icons li {margin: 2px; position: relative; padding: 4px 0; cursor: pointer; float: left;  list-style: none;}

ul#icons span.ui-icon {float: left; margin: 0 4px;}

