html, body { font:100% 'OpenSans', Frutiger, sans-serif; background:#fcfcfc url(../img/dust.png); }
body { padding-top:100px; }

.brand { margin:0 !important; padding:0 !important; }
.brand a {  }
.brand img { width:370px; padding:0 10px 10px !important; }
.navbar-inner { min-height:80px;
	background-color:#db5801;
	background-image:-moz-linear-gradient(top,#fd7a23,#db5801);
	background-image:-ms-linear-gradient(top,#fd7a23,#db5801);
	background-image:-webkit-gradient(linear,0 0,0 100%,from(#fd7a23),to(#db5801));
	background-image:-webkit-linear-gradient(top,#fd7a23,#db5801);
	background-image:-o-linear-gradient(top,#fd7a23,#db5801);
	background-image:linear-gradient(top,#fd7a23,#db5801);
	background-repeat:repeat-x;
	color:#000;
}
.navbar .nav > li > a {
	padding-top:3.5em; padding-bottom:.5em;
	color:black; text-shadow:0 1px 0 #fd7a23;
}
.navbar .nav > li > a:hover {
	color:black; text-shadow:0 1px 0 #fd7a23; background-color:rgba(255,255,255,.1);
}
.menu-selected { background-color:rgba(255,255,255,.2); color:black !important; }
.navbar .btn { margin:0; }


button {
  float:right;
}

h3 {
  margin-top: 0px;
  margin-bottom: 0px;
}

a {
	text-decoration: none;
	font-style: normal;
	font-weight: 
}

#upgrading-storage-screen {
	display: none;
}

#all {
  width: 1200px;
  height: 100%;

  font: 100% "Verdana", sans-serif; 
  text-align:left;
  background: #fff;
  
  margin: 0px;
	margin-left: auto;
  margin-right: auto;
  
  padding: 0px;
  padding-left: 10px;
  padding-right: 10px;
  
  border-style: solid;
  border-width: 1px;
  border-color: #eee;
  border-top: none;
  border-bottom: none;

  overflow: auto;
}

#header, #footer {
  float: top;
  clear: both;
  width: auto;
}

#footer {
  width: auto;  
  background-color: #bbb;
  text-align: center;
  margin: 10px;
}


.login-area {
   float: right;
   padding-top: 20px;
}


#support-area {
  padding-top: 10px;
  padding-left: 10px;
  float: right;
}

#support-area * {
  padding: 3px;
  float: left;
}

#paypal input[type=image], #page-about input[type=image] { width:74px; }
#page-support form { margin:0; }


.across-all {
	background: #443;
}

.hidden {
  display: none;	
}

.logged-in {
  display: none;  
}

.visible {
  display: block;  
}


.storage-id {
  font: 100% "Tahoma", sans-serif;
  font-weight:bold;   
  color: #333;
}

#refresh-link {
  float: right;
}


textarea {
	width: 90%;
	height: 80px;
	border: 2px solid #cccccc;
	padding: 3px;
	font-family: Tahoma, sans-serif;
	  float: left;
  clear: both;
}


#license {
}

#error-panel {
	display: none;
}

.rounded-box, .menu-bar-item, .status-details, .comments, .info-box, .more-info-box, #footer, .full-page-text {
	-webkit-border-radius:5px; -moz-border-radius:5px; border-radius:5px; -khtml-border-radius:5px;
	-webkit-box-shadow:0 0 4px #888; -moz-box-shadow:0 0 4px #888; box-shadow:0 0 4px #888;
	/* IE 8 */ -ms-filter:"progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=180, Color='#808080')";
	/* IE 5.5 - 7 */ filter: progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=180, Color='#808080');
}

.rounded-box, .info-box, .more-info-box, #footer, .full-page-text  {
  padding: 10px;
  margin-bottom: 20px;
  
}

.info-box {
	color: #000;
  background-color: #FD7A23;
  width: 550px;
}


.more-info-box, .full-page-text{
  font: 100% "Tahoma", sans-serif;
  width: 351px;
  height: 100%;
  float: left;
}

#bottom-box, .full-page-text {
  font: 100% "Tahoma", sans-serif;
  height: auto;
  float: left;
  width: auto;  
  background-color: #ddd;
}

.clearright {
  clear: right;
}

.clearleft {
  clear: left;
}

.clearboth {
	clear: both;
}


.status {
  padding-left: 10px;
  padding-top: 10px;
  float: left;
  clear: left;
  width: 900px;
  margin-bottom: 20px;
  margin-right: 20px;
 }

.friends {
  padding-left: 10px;
  padding-top: 10px;
  float: left;
  clear: right;
  width: 600px;
  margin-bottom: 20px;
}

#profile {
  padding-left: 10px;
  padding-top: 10px;
  float: left;
  clear: right;
  width: 600px;
  margin-bottom: 20px;
}

.top-left-box {
  border-style:solid;
  border-width:3px;
  border-color:#666;
  border-bottom:0px;
  border-right:0px;
}

.status-stream {
  float: left;
  width: 100%;
}
.conversation {

}

.status-details {
  float: right;
  background-color: #FD7A23;
  padding: 5px;
  width: 100%;
}

.comments {
  background-color: #ddf;
  float: right;
  width: 90%;
  margin-bottom: 10px;
}

.comment-form {
  float: right;
  padding: 10px;
  width:700px;
}

.comment-form textarea {
	height: 50px;	
}

.status-update {
  width: 100%;
  float: left;
  padding: 10px;
  clear:both;
}

.comment {
  float: right;
  width: 100%;
}

.comment-update {
  float: left;
  clear: both;
  padding: 5px;
}

.status-update-username {
  float: left;
  padding: 5px;
}

.comment-update-username {
  float: left;
  padding: 5px;
}

.status-update-timestamp {
  font: 70% "Arial", sans-serif; 
  float: right;
  padding: 5px;
  padding-left: 10px;
  font-style: italic;
}

.comment-update-timestamp {
  font: 70% "Arial", sans-serif; 
  float: right;
  padding: 5px;
  padding-left: 10px;
  font-style: italic;
}

.do-collapse-status, .do-expand-status {
  font: 100% "Arial", sans-serif; 
  float: right;
  padding: 0px;
}

.hidden { visibility:visible !important; }
