body { 
  text-align: center;
  margin: 0px;
  padding: 0px;
}

button {
  float:right;
}

h3 {
  margin-top: 0px;
  margin-bottom: 0px;
}

#all {
  width: 1200px;
  
  font: 100% "Verdana", sans-serif; 
  text-align:left;
  background: #fff;
  
  margin: 0px;
	margin-left: auto;
  margin-right: auto;
  
  padding: 0px;
  padding-left: 10px;
  padding-right: 10px;
  
  border-style: solid;
  border-width: 1px;
  border-color: #eee;
  border-top: none;
  border-bottom: none;
}

#header, #footer {
  float: top;
  clear: both;
  width: auto;
}

#footer {
  width: auto;  
  background-color: #bbb;
  text-align: center;
  margin: 10px;
}

#header {
  background: #fff;
  padding: 5px;
}

.logo {
  margin: 0px;
  padding: 10px;
  padding-left: 10px;
  float: left;
  clear: left;
}

.login-area {
   float: right;
   padding: 5px;
   clear:right;
}

.login-area button {
   float: right;
}

.login-area input, #welcome-message {
   float: left;
}


#support-area {
  padding-top: 10px;
  padding-left: 10px;
  float: right;
}

#support-area * {
  padding: 3px;
  float: left;
}

#menubar {
  float: top;
  clear: both;
  width: auto;
	color: #444;
  padding: 15px;
  background: #fff;
  font: 200% "Tahoma", monospace;  
  font-weight: bold;
}

.menu-bar-item {
  color: #444;
	padding: 5px;
	text-decoration: none;
	background: #eee;
}

.menu-selected {
	background: #ddd;
}

.across-all {
	background: #443;
}

.hidden {
  display: none;	
}

.logged-in {
  display: none;  
}

.visible {
  display: block;  
}


.storage-id {
  font: 100% "Tahoma", sans-serif;
  font-weight:bold;   
  color: #333;
}

#refresh-link {
  float: right;
}


textarea {
	width: 90%;
	height: 80px;
	border: 2px solid #cccccc;
	padding: 3px;
	font-family: Tahoma, sans-serif;
	  float: left;
  clear: both;
}


#license {
}

#error-panel {
	display: none;
}

.rounded-box, .menu-bar-item, .status-details, .comments, .info-box, .more-info-box, #footer {
	-moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px; /* future proofing */
  -khtml-border-radius: 10px; /* for old Konqueror browsers */ 
}

.rounded-box, .info-box, .more-info-box, #footer {
  padding: 10px;
  margin-bottom: 20px;
	border-style:solid;
  border-width:3px;
  border-color:#666;
}

#welcome {
  margin: 0px;	
  
}

.info-box {
  background-color: #f60;
  width: 550px;
  margin: 10px;
  float: left;
}

#info-what-is {
	flow:left;
	margin-left: 15px
}

#info-signup {
  flow:right;
}

.more-info-box {
  font: 100% "Tahoma", sans-serif;
  width: 351px;
  height: 100%;
  margin: 10px;
  float: left;
}

#more-add-friends {
	flow: left;
}

#more-support {
  margin-left: 14px;
  margin-right: 13px;
}

#more-tech {
  flow: right;
}

#bottom-box {
  font: 100% "Tahoma", sans-serif;
  height: auto;
  float: left;
  width: auto;  
  background-color: #ddd;
}

.clearright {
  clear: right;
}

.clearleft {
  clear: left;
}

.clearboth {
	clear: both;
}


.status {
  padding-left: 10px;
  padding-top: 10px;
  float: left;
  clear: left;
  width: 900px;
  margin-bottom: 20px;
  margin-right: 20px;
 }

.friends {
  padding-left: 10px;
  padding-top: 10px;
  float: left;
  clear: right;
  width: 600px;
  margin-bottom: 20px;
}

#profile {
  padding-left: 10px;
  padding-top: 10px;
  float: left;
  clear: right;
  width: 600px;
  margin-bottom: 20px;
}

.top-left-box {
  border-style:solid;
  border-width:3px;
  border-color:#666;
  border-bottom:0px;
  border-right:0px;
}

.status-stream {
  float: left;
  width: 100%;
}
.conversation {

}


.status-details {
  float: right;
  background-color: #f60;
  padding: 5px;
  width: 100%;
}

.comments {
  background-color: #ddf;
  float: right;
  width: 90%;
  margin-bottom: 10px;
}

.comment-form {
  float: right;
  padding: 10px;
}

.status-update {
  width: 100%;
  float: left;
  padding: 10px;
  clear:both;
}

.comment {
  float: right;
  width: 100%;
}

.comment-update {
  float: left;
  clear: both;
  padding: 5px;
}

.status-update-username {
  float: left;
  padding: 5px;
}

.comment-update-username {
  float: left;
  padding: 5px;
}

.status-update-timestamp {
  font: 60% "Arial", sans-serif; 
  float: right;
  padding: 5px;
}

.comment-update-timestamp {
  font: 60% "Arial", sans-serif; 
  float: right;
  padding: 5px;
}
